<app-slider [name]="'Buscador de Artículos'" [size]="'sm'"></app-slider>

<div class="center">
  <section id="content">
    <h2 class="subheader">Busca el artículo</h2>

    <input
      #searchBox
      id="search-box"
      placeholder="Buscar Artículo..."
      (input)="search(searchBox.value)"
    />

    <div id="articles">
      <article
        class="article-item"
        id="article-template"
        *ngFor="let article of articles$ | async"
      >
        <div class="image-wrap">
          <img src="{{ article.image }}" alt="Paisaje" />
        </div>
        <h4>{{ article.title }}</h4>
        <span class="description-article">{{ article.content }}</span>
        <small class="date-article"
          >Por {{ article.name }} |
          {{ article.date | amLocale: "es" | amTimeAgo }}
        </small>
        <a routerLink="/articulo/{{ article.id }}">
          Leer más
          <svg
            height="12"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 4.53657 8.69699"
            class="css-b7q1rs"
          >
            <path
              d="
                    M.18254,8.697a.18149.18149,0,0,1-.12886-.31034L4.09723,4.34126.05369.29954a.18149.18149,
                    0,0,1,.2559-.2559L4.4838,4.21785a.18149.18149,0,0,1,0,.2559L.30958,8.648A.18149.18149,
                    0,0,1,.18254,8.697Z
                  "
              fill="currentColor"
            ></path>
          </svg>
        </a>
        <div class="clearfix"></div>
      </article>
    </div>
  </section>

  <app-sidebar></app-sidebar>
</div>
