<header id="header">
  <div class="center">
    <!-- LOGO -->
    <div id="logo">
      <img
        src="assets/img/logo/angular-logo.png"
        alt="Logotipo"
        class="app-logo"
      />
      <span id="brand"> <strong>Angular</strong>Web</span>
    </div>
    <!-- MENU -->
    <nav id="menu">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li>
          <a routerLink="/crear-articulo" routerLinkActive="active">Crear</a>
        </li>
        <li>
          <a routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li>
          <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
    </nav>

    <!--.clearfix-->
    <div class="clearfix"></div>
  </div>
</header>
