<div class="center" *ngIf="article">
  <section id="content-article">
    <article class="article-item article-detail">
      <div class="image-wrap">
        <img src="{{ article.image }}" alt="Paisaje" />
      </div>
      <h2 class="subheader">{{ article.title | uppercase }}</h2>
      <div><span>id: </span>{{ article.id }}</div>
      <span class="date-article">
        Por {{ article.name }} | {{ article.date }}
      </span>
      <p>{{ article.content }}</p>
      <button
        class="btn btn-outline-primary btn-rounded mr-2"
        (click)="goBack()"
      >
        volver atrás
      </button>
      <button class="btn btn-danger btn-rounded mr-2" (click)="goBack()">
        borrar
      </button>
      <button class="btn btn-success btn-rounded" (click)="goBack()">
        editar
      </button>
      <div class="clearfix"></div>
    </article>
  </section>

  <app-sidebar></app-sidebar>
  <div class="clearfix"></div>
</div>
