<h3>Heróes</h3>
<div>
  <label
    >Nombre del heróe:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">añadir</button>
  <button (click)="search(heroName.value)">buscar</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a (click)="edit(hero)">
      <span class="badge">{{ hero.id || -1 }}</span>
      <span *ngIf="hero !== editHero">{{ hero.name }}</span>
      <input
        *ngIf="hero === editHero"
        [(ngModel)]="hero.name"
        (blur)="update()"
        (keyup.enter)="update()"
      />
    </a>
    <button class="delete" title="Borrar heróe" (click)="delete(hero)">
      x
    </button>
  </li>
</ul>
