<aside id="sidebar">
  <div id="nav-blog" class="sidebar-item">
    <h3>Puedes hacer esto:</h3>
    <a href="#">Crear artículo</a>
  </div>

  <div id="search" class="sidebar-item">
    <h3>Buscador:</h3>
    <p>Encuentra el artículo que buscas</p>
    <form>
      <input
        type="search"
        placeholder="Buscar..."
        class="search-section"
        name="search"
      />
      <input type="submit" class="search-button" value="Buscar" name="submit" />
    </form>
  </div>
</aside>
<div class="clearfix"></div>
