<div class="container">
  <div class="py-5 text-center">
    <h2>Crear Artículo</h2>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Datos para Crear el Artículo</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="name">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Ingresa tu nombre"
              value=""
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="title">Título</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Ingresa un título para tu artículo..."
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="content">Contenido</label>
          <div class="input-group">
            <textarea
              name="content"
              id="content"
              placeholder="Escribe tu hermoso contenido aquí..."
            ></textarea>
          </div>
        </div>

        <hr class="mb-4" />
        <button class="btn btn-primary btn-lg btn-block mb-3" type="submit">
          Compartir artículo
        </button>
      </form>
    </div>
  </div>
</div>
