<div class="center" *ngIf="user">
  <section id="content-crush">
    <article class="crush-item crush-detail">
      <h2>Detalles de {{ user.name | uppercase }}</h2>
      <div class="image-crush">
        <img src="{{ user.img }}" alt="Crush" />
      </div>
      <div>
        <span>id: {{ user.id }}</span>
      </div>
      <div class="lt-form">
        <label
          >nombre:
          <input
            class="form-control"
            [(ngModel)]="user.name"
            placeholder="nombre"
          />
        </label>
      </div>
      <button class="btn btn-outline-secondary btn-rounded" (click)="goBack()">
        volver atrás
      </button>
      <button class="btn btn-outline-success btn-rounded" (click)="save()">
        guardar
      </button>
    </article>
  </section>
  <div class="clearfix"></div>
</div>
